:root{
    --main-color: rgb(0, 241, 201);
    --second-color: #7a7a7a45;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
}
/* ///////////////////////////////////////////////////////////////////
Seccion Hero del documento
///////////////////////////////////////////////////////////////// */
header{
    width: 100%;
    height: 100vh;    
    display:grid;
    grid-template-rows: auto auto 1fr;
}

header a{
    text-decoration: none;
    color:black;
}

/* Barra de redes sociales */
.socialMedia{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height:3rem;
    background: var(--main-color);
}

.socialMedia__list a{
    font-size: 2rem;
    border-radius:1rem;
    transition: 450ms all ease;
}

.socialMedia__list a i {
    margin-inline: 1rem;
    color:white;
    transition:450ms all;
}

.socialMedia__list a i:hover {
    transform: rotateY(360deg);
    color:black;
}


nav{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:3rem;
    align-items: center;
    font-size: 2rem;
    padding:1rem 3rem;
}

nav .logo{
    font-size:2rem;
    font-weight: bold;
    display:flex;
    align-items: center;
    text-transform: uppercase;
}

nav .logo i{
    color: var(--main-color);
    font-size:3rem;
    margin-inline-end: 1rem;
}


nav div:nth-child(2n){
    justify-self: end;
}

nav div:nth-child(2n) a{
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}

nav div:nth-child(2n) a:hover{
    color:var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.intro{
    background-image:url(../assets/img/cover3.jpg);
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-size:2rem;
    color: white;
    text-align: center;
}

.intro--text p:nth-child(1){
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}


.intro .btn-entrar{
    padding: 1rem;
    background: var(--main-color);
    width: 10rem;
    align-self: start;
    justify-self: center;
    font-size: 1.2rem;
    transition: 450ms all ease;
}

.intro .btn-entrar:hover{
    transform:scale(1.1);
}

.content__proyectos{
    height:10rem;
}

/* /////////////////////////////////////////////////////////////////////////////
Seccion de proyectos
/////////////////////////////////////////////////////////////////////// */

/* Ultimo proyecto */

.container__proyectos h2{
    margin-inline-start: 3rem;
}

.container__proyectos{
    width:100%;
}

.container__proyectos .proyectos{
    background-color: var(--second-color);
}

.proyectos__ultimo{
    display:grid;
    grid-template-columns: 2fr 1fr;   
    grid-template-areas:
        'titulo titulo'
        'img texto';
    padding: 1rem 3rem;
    align-items: center;
    column-gap: 1rem;
    max-width: 980px;
    margin: auto;
}

.proyectos__ultimo--titulo{
    grid-area: titulo;
    margin-block-start: 0;
}

.proyectos__ultimo--img img{
    width: 85%;
    object-fit:cover;
    transition: 450ms all;
}


.proyectos__ultimo--text{
    padding: 1rem;
    font-size: 1.2rem;
}

.proyectos__ultimo--text h3{
    margin: 0;
}

.tecnologias{
    font-size: 2rem;
}

.fa-js-square{color : #ed7e31;}
.fa-html5{color: #d94824}
.fa-css3-alt{color: #01a7dd}

.proyectos--button{
    border:1px solid black;
    padding:0.5rem 1rem;
    width: 10rem;
    font-size: 1.2rem;
    color:black;
    text-decoration: none;
    transition:150ms all;
}

.proyectos--button:hover{
    border-color: var(--second-color);
    background-color: var(--second-color);
    color:white;

}
.button--active{
    color:var(--main-color);
    font-weight: bold;
    border-color: var(--main-color);
}
.button--active:hover{
    color:black;
    background-color: var(--main-color);
}
.button--disable{
    color:var(--second-color);
    border-color: var(--second-color);
    pointer-events: none;
    cursor:default;

}

/* Carrusel de proyectos */

.proyectos__carrusel{
    padding: 0 3rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto 1fr 1fr;
    gap: 1rem;
    max-width: 980px;
    margin: auto;
}

.proyectos__carrusel--titulo{
    grid-column: 1 / 4;
    padding-bottom: 1rem;
    text-align: center;
    border-bottom: 1px solid black;
}

.proyectos__carrusel--card{
    display:grid;
    padding:1rem;
    grid-template-rows: 1fr auto auto auto;
}

.proyectos__carrusel--card img{
    max-width: 100%;
    justify-self: center;
}