@media (max-width:940px) and (min-width: 768px){
    .proyectos--button{
        padding: 0.3rem 0.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 767px){
    nav{
        grid-template-columns: 1fr;
    height: auto;
    }

    nav .logo {
        font-size: 1.5rem;
    }

    nav div:nth-child(2n) a {
        font-size: 1rem;
    }

    .intro{
        font-size: 1.5rem;
    }

    .intro--text p:nth-child(1) {
        font-size: 2rem;
    }
    .perfil__container--info{
        gap: 0;
        grid-template-columns: 1fr;
        padding: 0 3rem;
    }

    .perfil__container--imgfondo{
        width: 80%;
    justify-self: center;
    }

    .perfil__container--info img{
        justify-self: center;
    }

    .perfil__container--extrainfo{
        grid-template-columns: 1fr;
        gap:0;
        
    }

    .perfil__container--ingles img {
        width: 80%;
        margin: 0 auto;
        display: flex;
    }

    .perfil--responsive{
        grid-column: 1/2;
        row-gap: 1rem;
        margin-block-end: 1rem;
    }

    .perfil__container--hobbies {
        row-gap: 0;
    }

    .perfil__container--hobbies ul li{
        margin-block-end: 0;
    }

    .proyectos--button {
        display: inline-block;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .proyectos__ultimo {
        grid-template-columns: 1fr;
    }

    .proyectos__ultimo--titulo {
        grid-column: 1 / 2;
    }

    .proyectos__ultimo--img img {
        margin: 0 auto;
        display: flex;
    }

    .proyectos__ultimo--text a{
        text-align: center;
        display: flex;
        margin: 0.5rem auto;
        justify-content: center;
    }

    .proyectos__carrusel{
        grid-template-columns: 1fr;
        column-gap: 0;
        padding: 0;
    }
    .proyectos__carrusel--card{
        grid-column: 1 / 2;
        margin: 0 3rem;
    }

    .proyectos__carrusel--links{
        display:grid;
        justify-content: center;
    }

    .contacto__container--info {
        align-items: center;
        grid-template-columns: auto auto;
        column-gap: 1rem;
        grid-template-rows: auto auto;
    }

    .contacto__container--info i {
        grid-row: 2 / 3;
        margin: 0;
        font-size: 3rem;
        text-align: center;
    }

    .contacto__container--info h3{
        text-align: center;
    }


}